* {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --header-outer-height: 150px;
    --header-inner-height: 100px;
    --header-height-difference: calc(
        var(--header-outer-height) - var(--header-inner-height)
    );
    --color-a:rgb(255, 255, 255);
    --color-b: rgb(232, 232, 232); 
    --color-c: rgb(161, 169, 175);
    --color-d:rgb(105, 123, 142);
    --color-e:rgb(50, 61, 68);
    --color-f: rgb(0, 0, 0);
    --font-family-a: 'Quicksand';
    --font-family-b: 'Euphoria Script';
}

body {
    position: relative;
    width: 100vw;
    background-color: var(--color-b);
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-outer {
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
        var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
    background-color: var(--color-e);
    box-shadow: 0 3px 10px 0 var(--color-e);
    background-image: url("/img/logo_opacity.svg");
    background-size: cover;
    z-index: 2;
}

.header-inner {
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    display: block;
    height: calc(var(--header-inner-height) - 60px);
}

.header.navigation {
    display: flex;
    flex-wrap: wrap;
}

.header-navigation a,
.header-navigation .burger {
    font-size: 1.125rem;
    margin-left: 2.5rem;
    position: relative;
}

.header-navigation a {
    display: none;
    font-size: 1.5rem;
    color: var(--color-b);
    text-decoration: none;
    font-family: var(--font-family-a);
}

.header-navigation .burger {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-navigation a:hover:after, 
.header-navigation .burger:after {
    transform: scalex(1);
}

.header-navigation a:after,
.header-navigation .burger:after {
    transition: 0.5s ease;
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -6px;
    left: 0;
}

@media (min-width:850px) {

    .header-navigation a {
        display: inline-block;
    }

    .header-navigation .burger {
        display: none;
    }

    .header-navigation ul {
        display: none;
    }
    
}

nav {
    display: flex;
    justify-content: center;
}

.navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -40px;
    height: 110vh;
    top: -110vh;
    background-color: var(--color-c);
    width: 18rem;
    padding-top: 10rem;
    text-align: right;
    padding-right: 3rem;
}

.navActive {
    display: flex;
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-b);
    margin: 5px;
    border-radius: 25%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

a:hover {
    color: var(--color-d);
}

.side-menu-links {
    display: block !important;
    margin-top: 3rem;
}





















.intro {
    display: flex;
    justify-content: center;
}

.intro-box {
    padding: 2rem;
    max-width: 40rem;
}

.intro-title {
    font-family: var(--font-family-b);
    font-size: 4em;
    text-align: center;
}

.intro-text {
    font-family: var(--font-family-a);
    text-align: center;
}


































main {
    padding: 4rem;
    background-color: var(--color-b);
}

#boxes-start {
    display: grid;
    grid-template-areas: 
    'asp asn asi';
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-image: url(/img/index_photo.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.article-start-poster {
    grid-area: asp;
    background-size: cover;
}

.article-start-nyheter {
    grid-area: asn;
    background-size: cover;
}

.article-start-inspiration {
    grid-area: asi;
    background-size: cover;
}

.box-start {
    background-color: var(--color-a);
    padding: 3.5rem;
    min-height: 24rem;
    width: 18rem;
    margin: 1rem;
    opacity: 70%;
}

.start-title {
    font-family: var(--font-family-b);
}

.start-text {
    font-family: var(--font-family-a);
}

@media (max-width: 1000px) {
    #boxes-start {
        display: grid;
        grid-template-areas: 
        'asp asn'
        'asi asi';
    }
    .article-start-inspiration {
        min-height: 15rem;
        width: 38rem;
    }
}

@media (max-width: 800px) {
    #boxes-start {
        display: grid;
        grid-template-areas: 
        'asp'
        'asn'
        'asi';
    }
    .box-start {
        height: 17rem;
        width: 19rem;
    }
}









.image {
    position: relative;
    width: 18rem;
    margin: 1rem;
}

.image_img {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85.5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 3rem;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(3px);
}

.image_overlay > * {
    transform: translateY(2rem);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_title {
    font-size: 2em;
    font-family: var(--font-family-b);
}

.image_description {
    font-size: 1.25em;
    margin-top: 0.25em;
    font-family: var(--font-family-a);
}

.image_under {
    padding-top: 0.5rem;
}

.image_under_title {
    font-size: 2em;
    color: rgb(75, 82, 82);
    display: flex;
    justify-content: center;
    font-family: var(--font-family-b);
}

.image_under_price {
    font-size: 1em;
    color: rgb(75, 82, 82);
    display: flex;
    justify-content: center;
    font-family: var(--font-family-a);
}

#section-posters {
    display: grid;
    grid-template-areas: 
    'p1 p2 p3'
    'p4 p5 p6';
}

#div-posters {
    display: flex;
    justify-content: center;
}

.poster1 {
    grid-area: p1;
}

.poster2 {
    grid-area: p2;
}

.poster3 {
    grid-area: p3;
}

.poster4 {
    grid-area: p4;
}

.poster5 {
    grid-area: p5;
}

.poster6 {
    grid-area: p6;
}

#section-posters a, #three-posters a {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    #section-posters {
        display: grid;
        grid-template-areas: 
        'p1 p2'
        'p4 p3'
        'p5 p6';
    }
}

@media screen and (max-width: 700px) {
    .image {
        width: 10rem;
        margin: 0.5rem;
    }
    .image_under_title {
        font-size: 1.2em;
    }
    .image_under_price {
        font-size: 0.8em;
    }
    .image_overlay:hover {
        opacity: 0;
    }
}


















.slideshow-container {
  width: 25rem;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
    width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-e);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color-c);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots  {
    text-align: center
}

.active, .dot:hover {
  background-color: var(--color-e);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




























#parent-poster-box {
    display: grid;
    justify-content: center;
}

#poster-box {
    display: grid;
    grid-template-areas: 
    'img info';
    margin: 1rem;
    max-width: 52rem;
}

#poster-img-box {
    grid-area: img;
}

#poster-img {
    width: 25rem;
}

#poster-info-box {
    grid-area: info;
    padding: 0 2rem 2rem 2rem;
}

#first-raw {
    display: grid;
    grid-template-areas: 
    'name price';
}

#poster-name {
    grid-area: name;
    display: flex;
    justify-content: flex-start;
    font-family: var(--font-family-a);
    font-size: 2em;
}

#poster-price {
    grid-area: price;
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-family-a);
    font-size: 2em;
}

#poster-size {
    font-family: var(--font-family-a);
    font-size: 1.4rem;
    padding-top: 1rem;
}

#poster-description {
    font-family: var(--font-family-a);
    padding-top: 1rem;
}

#poster-status {
    font-family: var(--font-family-a);
    padding-top: 1rem;
}

#poster-number {
    font-family: var(--font-family-a);
    padding-top: 1rem;
}

@media screen and (max-width: 850px) {
    #poster-box {
        grid-template-areas: 
        'img'
        'info';
    }
    #poster-info-box {
        padding: 2rem 0 2rem 0;
    }
    #poster-img-box {
        display: flex;
        justify-content: center;
    }
    #poster-img {
        width: 20rem;
    }
    .dots {
        display: none;
    }
    .slideshow-container {
        width: 21rem;
    }
}

















#three-points {
    display: grid;
    grid-template-areas: 
    'pnt1 pnt2 pnt3';
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.point {
    display: grid;
    grid-template-areas: 
    'dps dpi';
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
}

.point-one {
    grid-area: pnt1;
}

.point-two {
    grid-area: pnt2;
}

.point-three {
    grid-area: pnt3;
}

.point-symbol {
    grid-area: pnt-s;
    height: 2rem;
}

.point-title {
    grid-area: pnt-ti;
    font-family: var(--font-family-a);
    font-size: 1.5em; 
}

.point-text {
    grid-area: pnt-te;
    font-family: var(--font-family-a);
}

.div-point-symbol {
    grid-area: dps;
    padding: 0.5rem;
    width: 3rem;
}

.div-point-info {
    grid-area: dpi;
}

@media screen and (max-width: 1100px) {
    #three-points {
        display: grid;
        grid-template-areas: 
        'pnt1'
        'pnt2'
        'pnt3';
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .point-title {
        font-size: 1.3em; 
    }
    .point-symbol {
        height: 2rem;
    }

    .point-text {
        max-width: 16rem;
    }

    .point {
        margin: 0rem;
    }
    main {
        padding: 0rem;
    }
    #poster-box {
        max-width: 30rem;
    }
    :root {
        --header-outer-height: 100px;
        --header-inner-height: 80px;
    }
}





















#fler-posters-parent {
    display: flex;
    justify-content: center;
    text-align: center;
}

#fler-posters {
    padding: 2rem 0 2rem 0;
}

#fler-posters-title {
    font-family: var(--font-family-b);
    font-size: 3em;
    text-align: center;
}

hr {
    width: 80vw;
    height: 2px;
    border-width: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#three-posters {
    display: grid;
    grid-template-areas: 
    'p1 p2 p3'
}

#three-posters-parent {
    display: flex;
    justify-content: center;
} 

@media screen and (max-width: 1000px) {
    #three-posters {
        display: grid;
        grid-template-areas: 
        'p1 p2'
        'p3 p3';
    }
    #fler-posters-title {
        font-size: 2em;
    }
}


















#div1-ins {
    display: flex;
    justify-content: center;
}

#div2-ins {
    display: grid;
    grid-template-areas: 
    'ia ib ib ic'
    'id ib ib if'
    'id ie ie if';
}

.ins {
    margin: 2rem;
}

.insA {
    grid-area: ia;
    width: 16rem;
    height: 16rem;
}

.insB {
    grid-area: ib;
    width: 32rem;
    height: 32rem;
}

.insC {
    grid-area: ic;
    width: 16rem;
    height: 16rem;
}

.insD {
    grid-area: id;
    width: 16rem;
    height: 32rem;
}

.insE {
    grid-area: ie;
    width: 32rem;
    height: 16rem;
}

.insF {
    grid-area: if;
    width: 16rem;
    height: 32rem;
}


#inspiration-info-box {
    display: flex;
    justify-content: center;
}

#inspiration-info-box-child {
    display: grid;
    grid-template-areas: 
    'i-symbol i-info';
    width: 50rem;
    margin: 1rem;
}

#inspiration-symbol {
    width: 5rem;
    margin: 0.5rem 1rem 1rem 1rem;
    grid-area: i-symbol;
}

#inspiration-info {
    grid-area: i-info;
}

#inspiration-title {
    font-size: 1.8em;
    font-family: var(--font-family-a);
}

#inspiration-text {
    font-family: var(--font-family-a);
}

@media screen and (max-width: 1100px) {

    #div2-ins {
        grid-template-areas: 
        'ib ib'
        'ia id'
        'if id'
        'if ic'
        'ie ie';
    }
    .ins {
        margin: 0.5rem;
    }
    .insB {
        width: 33rem;
        height: 33rem;
    }
    .insE {
        width: 33rem;
    }

    #inspiration-info-box-child {
        width: 33rem;
    }
}

@media screen and (max-width: 600px) {
    .insA {
        width: 10rem;
        height: 10rem;
    }
    
    .insB {
        width: 21rem;
        height: 20rem;
    }
    
    .insC {
        width: 10rem;
        height: 10rem;
    }
    
    .insD {
        width: 10rem;
        height: 20rem;
    }
    
    .insE {
        width: 21rem;
        height: 10rem;
    }
    
    .insF {
        width: 10rem;
        height: 20rem;
    }

    #inspiration-info-box-child {
        grid-template-areas: 
        'i-symbol'
        'i-info';
        width: 21rem;
    }

    #inspiration-symbol {
        width: 3rem;
    }

    #inspiration-title {
        font-size: 1.4em;
    }

    #inspiration-symbol-article {
        display: flex;
        justify-content: center;
    }

    #inspiration-title {
        text-align: center;
    }
    
    #inspiration-text {
        text-align: center;
    }
    

    }






























footer {
    grid-area: ft;
    background-color: var(--color-d);
    padding-top: 3rem;
    margin-top: 4rem;
}

#footersection {
    display: grid;
    grid-template-areas: 
    'fa1 fa2 fa3 fa4';
    padding: 1rem 5rem 3rem 5rem;
}

h6 {
    display: flex;
    justify-content: center;
    color:var(--color-b);
    font-size: 1.8em;
    font-family: 'Euphoria Script';
}

.footertext {
    text-align: center;
    color: var(--color-b);
    font-family: 'Quicksand';
}

#footerlogga {
    display: flex;
    justify-content: center;
}

.footerlogga {
    width: 15rem;
    margin-bottom: 2rem;
}

#footera1 {
    grid-area: fa1;
    padding: 2.5rem;
}

#footera2 {
    grid-area: fa2;
    padding: 2.5rem;
}

#footera3 {
    grid-area: fa3;
    padding: 2.5rem;
}

#footera4 {
    grid-area: fa4;
    padding: 2.5rem;
}

#da4 {
    width: 100%;
}

#da2 {
    width: 100%;
}

#da1 {
    width: 100%;
}

@media screen and (min-width: 1000px){
    #da4 {
        display: block;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: none;
    }
}

@media screen and (max-width: 1100px){
    
    #footersection {
        display: grid;
        grid-template-areas: 
        'fa1 fa2'
        'fa3 fa4';
    }

    #da4 {
        display: none;
    }

    #da2 {
        display: block;
    }

    #da1 {
        display: none;
    }

}

@media screen and (max-width: 600px){
    
    #footersection {
        display: grid;
        grid-template-areas: 
        'fa1'
        'fa2'
        'fa3'
        'fa4';
        padding: 1rem 2rem 3rem 2rem;
    }

    #da4 {
        display: none;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: block;
    }
}